@font-face {
    font-family: 'Cormorant Garamond';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/cormorant/CormorantGaramond-Regular.woff2') format('woff2'),
        url('/fonts/cormorant/CormorantGaramond-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Cormorant Garamond';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/cormorant/CormorantGaramond-Italic.woff2') format('woff2'),
        url('/fonts/cormorant/CormorantGaramond-Italic.ttf') format('ttf');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/neue-montreal/PPNeueMontreal-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/neue-montreal/PPNeueMontreal-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/neue-montreal/PPNeueMontreal-Bold.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cormorant Garamond";
    color: #222;
    background-color: #fafafa;
}

a {
    color: inherit;
}

a:focus {
    outline-style: dashed;
    outline-color: #999;
    outline-offset: 2px;
    ;
}

s {
    color: #999;

    text-decoration-thickness: 1px;
}

blockquote {
    font-style: italic;
}

article {
    margin-bottom: 10rem;
    scroll-margin-top: 1.25rem;
}

article:after {
    display: inline-block;
    padding-top: 2em;
    content: "❦";
    color: #999;
    filter: blur(.3px);
}

::selection {
    background-color: #eee;
}

.light {
    color: #555;
}

.hover {
    cursor: pointer;

    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-decoration-color: #999;
}

.site-nav {
    font-family: "Neue Montreal";
    max-width: min(30rem, calc(100vw - 2rem));
    margin: 1.25rem auto 7rem;
    transition: .5s ease;
    transition-property: filter, opacity, transform;
    text-transform: uppercase;
    filter: blur(.3px);
}

.site-nav--blurred {
    transition-duration: 1s;
    transform: scale(.98);
    opacity: .2;
    filter: blur(3px);

}

@media (min-width: 1230px) {
    .site-nav {
        position: sticky;
        top: 1.25rem;
        display: flex;
        justify-content: space-between;
        max-width: calc(100vw - 3rem);
        margin-bottom: 0;
    }
}

.site-nav a {
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    text-decoration: underline;
}

.page-nav {
    font-family: "Neue Montreal";
    font-size: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: max-content 1fr;
    max-width: min(30rem, calc(100vw - 2rem));
    margin: 0 auto 7rem;
    transition: .5s ease;
    transition-property: filter, opacity, transform;
    transform-origin: top right;
    text-transform: uppercase;
    filter: blur(.3px);
}

.page-nav--blurred {
    transition-duration: 1s;
    transform: scale(.98);
    opacity: .2;
    filter: blur(3px);
}

@media (min-width: 1060px) {
    .page-nav {
        position: fixed;
        bottom: 10rem;
        left: 1.25rem;
        width: 100%;
        max-width: 16rem;
    }
}

@media (min-width: 1188px) {
    .page-nav {
        max-width: 20rem;
    }
}

.page-nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page-nav__link {
    display: grid;
    grid-auto-flow: dense;
    gap: 1ch;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.page-nav__link:before {
    display: block;
    grid-column: 2;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #dadada;
}


.page-nav a {
    text-decoration: none;
}

.page-nav a:hover,
.page-nav a:focus {
    text-decoration: underline;
}

.content {
    font-size: 1.25rem;
    line-height: 1.3;
    max-width: min(30rem, calc(100vw - 2rem));
    margin: 0 auto;
}

.article-banner {
    position: relative;
    width: 100%;
    aspect-ratio: 6/11;
    margin-bottom: 2rem;
    padding-top: .75rem;
}

.article-banner__date,
.article-banner__title {
    font-family: "Neue Montreal";
    font-size: min(2.75rem, 8vw);
    font-weight: bold;
    line-height: .9;
    position: sticky;
    z-index: 1;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
    filter: blur(1px);
}

.article-banner__date {
    top: .75rem;
    margin-bottom: calc(.75rem + .9em);
}

.article-banner__title {
    top: calc(.75rem + .9em);
    margin-top: calc((.75rem + .9em) * -1);
    margin-bottom: .75rem;
}

.article-banner__stops {
    font-family: 'Neue Montreal';
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    line-height: .9;
    position: absolute;
    right: 0;
    bottom: 1.5rem;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    color: #FAFAFA;
    filter: blur(.75px);
}

.article-banner__image-wrapper {
    position: absolute;
    z-index: -1;
    top: 0;
    overflow: hidden;
    --overflow: 20px;
    width: 100%;
    height: calc(100% + 20px);
    border-radius: 1rem;
}

.article-banner picture {
    height: 100%;

}

.article-banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: var(--drift);
    /* border-radius: 1rem; */
}

.article-banner ::selection {
    background-color: #22222255;
}

.article-content {
    padding-right: 1rem;
}

@media (min-width: 520px) {
    .article-content {
        padding-right: 0;
    }
}

.hover-images {
    --x: 0;
    --y: 0;
    --angle: 0deg;
}

.hover-image {
    position: fixed;
    top: var(--y);
    left: var(--x);
    width: 20rem;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/4;
    transition: opacity .2s ease;
    transform: translateX(-50%) translateY(-50%) rotate(var(--angle));
    pointer-events: none;
    opacity: 0;
    border-radius: .5rem;
    ;
}

.hover-image--active {
    opacity: 1;
}